stl
.metals
.vscode
docs/Countersunk Hole - an overview _ ScienceDirect Topics.pdf
docs/IntersectionLine2Circle2.pdf
tests/example-03.en.scad
foundation/docs/elliptical-sector.kig
foundation/docs/02_2d_primitive.pdf
