stl
.metals
.vscode
*.bak
nogit-*
.DS_Store
orthodocs/api-docs
docs/pics/foundation/256x256/fig_Support_and_overhangs.png.deps
docs/pics/foundation/256x256/fig_Supported_walls.png.deps
docs/pics/foundation/256x256/fig_Unsupported_walls.png.deps
new-orthodocs/api-docs
new-orthodocs/deps.md
new-orthodocs/dxf.md
new-orthodocs/library.md
new-orthodocs/Makefile
new-orthodocs/toc.md
new-orthodocs/artifacts/box.md
new-orthodocs/artifacts/caddy.md
new-orthodocs/artifacts/deps.md
new-orthodocs/artifacts/pcb_holder.md
new-orthodocs/artifacts/spacer.md
new-orthodocs/artifacts/t-nut.md
new-orthodocs/artifacts/template.md
new-orthodocs/foundation/2d-engine.md
new-orthodocs/foundation/3d-engine.md
new-orthodocs/foundation/algo-engine.md
new-orthodocs/foundation/base_geo.md
new-orthodocs/foundation/base_kv.md
new-orthodocs/foundation/base_parameters.md
new-orthodocs/foundation/base_string.md
new-orthodocs/foundation/base_trace.md
new-orthodocs/foundation/bbox-engine.md
new-orthodocs/foundation/components.md
new-orthodocs/foundation/connect.md
new-orthodocs/foundation/defs.md
new-orthodocs/foundation/deps.md
new-orthodocs/foundation/drawio.md
new-orthodocs/foundation/fillet.md
new-orthodocs/foundation/grid.md
new-orthodocs/foundation/hole.md
new-orthodocs/foundation/label.md
new-orthodocs/foundation/limits.md
new-orthodocs/foundation/mngm.md
new-orthodocs/foundation/profile.md
new-orthodocs/foundation/template.md
new-orthodocs/foundation/torus.md
new-orthodocs/foundation/tube.md
new-orthodocs/foundation/type_trait.md
new-orthodocs/foundation/unsafe_defs.md
new-orthodocs/foundation/util.md
new-orthodocs/vitamins/countersinks.md
new-orthodocs/vitamins/deps.md
new-orthodocs/vitamins/ethers.md
new-orthodocs/vitamins/generic.md
new-orthodocs/vitamins/hdmi.md
new-orthodocs/vitamins/hds.md
new-orthodocs/vitamins/heatsinks.md
new-orthodocs/vitamins/jacks.md
new-orthodocs/vitamins/knurl_nuts.md
new-orthodocs/vitamins/magnets.md
new-orthodocs/vitamins/pcbs.md
new-orthodocs/vitamins/pin_headers.md
new-orthodocs/vitamins/psus.md
new-orthodocs/vitamins/sata-adapters.md
new-orthodocs/vitamins/sata.md
new-orthodocs/vitamins/screw.md
new-orthodocs/vitamins/sd.md
new-orthodocs/vitamins/spdts.md
new-orthodocs/vitamins/switch.md
new-orthodocs/vitamins/template.md
new-orthodocs/vitamins/trimpot.md
new-orthodocs/vitamins/usbs.md
